@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  src: url('/assets/fonts/SFProDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  src: url('/assets/fonts/SFProDisplay-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/* Add more weights and styles as needed */

body {
  @apply bg-neutral-5;
}

:root {
  font-family: sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}
